<% if logged_in? %>
    <script type="text/javascript">
        window.currentUser = <%=render("api/users/user.json.jbuilder", user: current_user).html_safe %>
    </script>
<% end %>
<script src="https://kit.fontawesome.com/4cc3497292.js" crossorigin="anonymous"></script>
<main id="root">
    something is not working!!!!
</main>
