// Place all the styles related to the cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart-container {
    width: 100%;
    min-height: 500px;
    height: 100%;
    margin-top: 94px;
    display: flex;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.cart-head {
    font-size: 21px;
    font-weight: bold;
    margin: auto;
    margin-top: -24px;
    margin-left: 22px;
    display: block;
    position: absolute;
    border-bottom: 1px solid #ccc;
    padding-bottom: 14px;
    min-width: 627px;
}

.main-cont {
    display: flex;
    flex-direction: row;
}

.price-header {
    color: #565959;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 14px;
}

.right-side-cart {
    height: 130px;
    width: 300px;
    border: 1px #ddd solid;
    border-radius: 4px;
    display: block;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: #f3f3f3;
    padding: auto;
    margin-left: 20px;
    margin-top: -20px;
}
.subtotal-cont {
    width: 100%;
    font-size: 17px;
    margin: 20px;
}
.cart-subtotal {
    font-weight: bold;
    font-size: 18px;
}
.proceed-to-checkout {
    border-radius: 3px;
    width: 260px;
    height: 32px;
    padding: 3px 7px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 13px;
    color: #111111;
    background-image: linear-gradient(to bottom, rgba(240, 193, 75, 0.3), rgba(240, 193, 75, 1));
    border-color: #a88734 #9c7e31 #846a29;
    border-width: thin;
    cursor: pointer;
    margin: 0px 20px;
}
.proceed-to-checkout:hover {
    background-image: linear-gradient(to bottom, rgba(240, 193, 75, 0.5), rgba(240, 193, 75, 1));
}
.proceed-to-checkout:active {
    border-color: #ff9900;
    box-shadow: 0px 0px 4px #ff9900;
    outline: none; 
    padding-top: 8px;
}
.proceed-to-checkout:focus {
    outline: none;
    padding-top: 8px;

}

.checkout-message {
        width: 300px;
        height: 73px;
        color: #007600;
        font-size: 17px;
        line-height: 25px;
        top: 68px;
        margin-left: -29px;
        background-color: #fafafa;
        border: 1px solid #ddd;
        border-radius: 4px;
        display: none;
        position: relative;
        justify-content: center;
        align-items: center;
    }

.proceed-to-checkout:focus .checkout-message {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-index-item {
    border-bottom: 1px solid #ccc;
    min-width: 627px;
    height: 210px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-decoration: none;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #111111;
    margin-right: 15px; 
    margin-left: -18px;
    .item-body {
        text-decoration: none;
        color: #111111;
    }
    .cart-photo-cont {
        display: flex;
        justify-content: center;
        width: 180px;
        height: 180px;
        margin: 15px;
        margin-left: 0px;
        .cart-index-item-photo {
            max-width: 180px;
            max-height: 180px;
        }
    }
    .cart-item-title {
        text-decoration: none;
        font-size: 17px;
        font-weight: bold;
        color: #0066C0;
        display: block;
        margin: 18px 0px 5px 0px;
        line-height: 16px;
    }
    .cart-item-title:hover {
        color: #c45500;
        text-decoration: underline;
        cursor: pointer;
    }
    .cart-item-artist { 
        font-size: 12px;
        color: #555555;
        display: block;
    }
    .by {
        color: #555555;
    }
    .price-cont {
        .price-shennanigans {
            display: flex;
            flex-direction: row;
            width: 20%;
            text-decoration: none;
            font-size: 19px;
            font-weight: bold;
            margin: 15px 0px 5px 0px;
            line-height: 23px;
            right: 0;
        }
        .cart-item-price {
            vertical-align: top;
        }
    }
    .cart-dollar-sign {
        font-size: 17px;
        position: relative;
    }
    .cart-free-ship-cap {
        font-size: 13px;
        color: #111111;
        margin: 5px 0px;
        width: 200px;
    }
}
.mid-side-specific {
    display: flex;
    flex-direction: column;
}

.in-stock-cart {
    color: #067D62;
    font-size: 12px;
    margin-top: 5px;
}

.gift {
    font-size: 12px;
    margin-left: 0px;
}
.gift-text {
    vertical-align: 17%;
    padding-left: 3px;
}

.qty-delete-row {
    display: flex;
    flex-direction: row;
}

.quantity-cart {
    border-radius: 3px;
    width: 80px;
    height: 30px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 13px;
    color: #111111;
    background-image: linear-gradient(to bottom, rgba(220, 226, 226, 0.0), rgba(220, 226, 226, 1));
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-width: thin;
    margin-top: 7px;
    cursor: pointer;
    position: relative;
    text-align: center;
    padding: auto;
}
.quantity-cart:hover {
    background-image: linear-gradient(to bottom,rgba(206, 207, 207, 0.3), rgba(206, 207, 207, 0.7));
}
.quantity-cart:active {
    border-color: #ff9900;
    box-shadow: 0px 0px 4px #ff9900;
    outline: none;
}
.quantity-cart:focus {
    outline: none;
}

.delete-cart-item {
    color: #0066C0;
    background: transparent;
    width: 50px;
    height: 20px;
    border: none;
    border-left: 1px solid #ddd;
    margin: auto;
    // margin-left: 14px;
    margin-left: 0px;
    // padding-left: 13px;
    padding-left: 10px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 12px;
}
.delete-cart-item:hover {
    cursor: pointer;
    color: #ff9900;
    text-decoration: underline;
}
.delete-cart-item:focus, .delete-cart-item:active {
    outline: none;
}

.cart-head#empty-cart {
    border: none;
    position: relative;
}

.empty-cart-message {
    font-size: 21px;
    font-weight: bold;
    margin: auto;
    margin-left: 22px;
    margin-top: 7px;
    display: block;
    position: absolute;
}
