// Place all the styles related to the cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart-container {
    width: 100%;
    min-height: 500px;
    height: 100%;
    top: 100px;
    display: flex;
    // flex-direction: column;
    // justify-content: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.cart-head {
    font-size: 21px;
    font-weight: bold;
    margin: auto;
    display: block;
    position: absolute;
}

.left-side-cart {
    min-width: 630px;
    border: 1px solid red;
    display: block;
    
}

.right-side-cart {
    width: 300px;
    border: 1px solid blue;
    align-content: flex-end;
    display: block;
}