.item-index {
    display: flex;
    padding: 90px 10px 20px 10px;
    min-height: 500px;
}
.all-items-head {
    font-size: 21px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
    color: #111111;
    display: block;
    width: 200px;
    position: absolute;
    margin-top: -20px;
    margin-left: 55px;
}

.item-index-item {
    float: left;
    border-bottom: 2px solid #ccc;
    width: 250px;
    height: 340px;
    list-style-type: none;
    display: flex;
    text-align: left;
    text-decoration: none;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #111111;
    cursor: pointer;
    margin: 20px 15px 5px 15px; 
    .item-body {
        text-decoration: none;
        color: #111111;
    }
    .photo-cont {
        display: block;
        text-align: center;
        width: 250px;
        .index-item-photo {
            max-width: 250px;
            max-height: 200px;
            justify-content: center;
        }
    }
    .index-item-title {
        text-decoration: none;
        font-size: 16px;
        display: block;
        margin: 11px 0px 5px 0px;
        line-height: 16px;
    }
    .index-item-title:hover {
        color: #c45500;
    }
    .index-item-artist {
        font-size: 12px;
        color: #0066C0;
        display: block;
    }
    .by {
        color: #111111;
    }
    .price-shennanigans {
        display: block;
        justify-content: left;
        width: 300px;
        text-decoration: none;
        font-size: 21px;
        display: block;
        margin: 15px 0px 5px 0px;
        line-height: 23px;
    }
    .index-item-price {
        vertical-align: top;
    }
    .dollar-sign {
        font-size: 13px;
        position: relative;
        top: -5px;    
    }
    .mini-deci {
        font-size: 13px;
        position: relative;
        top: -6px;
    }
    .free-ship-cap {
        font-size: 12px;
        color: #555555;
        margin: 5px 0px;
    }
}
.no-match {
    min-width: 500px;
    min-height: 500px;
    justify-content: left;
    text-align: center;
    margin: auto;
    margin-top: 85px;
    color: #0F1111;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    .no-match-message {
        font-size: 21px;
        font-weight: bold;
    }
    .try-searching {
        font-size: 13px;
        padding-top: 8px;
    }
}


