// Place all the styles related to the api/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show {
    background-color: white;
}

.item-show {
    background-color: white;
    min-height: 500px;
    width: 100%;
    display: flex;
    padding-top: 38px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.item-img-container {
    min-width: 400px;
    padding: 60px 10px 0px 40px;
    display: flex;
    .item-img {
        text-align: center;
        .item-photo {
            margin: auto;
            max-width: 350px;
            max-height: 350px;
            position: absolute;
        }
    }
}

.item-text-container {
    display: flex;
    max-width: 280px;
    margin-left: -20px;
    margin-right: 20px;
    padding-top: 40px;
    justify-content: space-between;
    .item-title-header {
        position: absolute;
        max-width: 250px;
        line-height: 24px;
        // border: 1px solid lightgreen;
        .item-title {
            font-size: 22px;
            font-weight: normal;
            margin-top: 0px;
            padding-top: 10px;
            // border: 1px solid pink;
            margin: auto;
        }
        .line-break-title {
        background-color: transparent;
        border-top: 1px solid #e7e7e7;
        top: 85px;
        width: 250px;
        }
    }
    .item-properties {
        display: block;
        position: relative;
    }
    .rating-preview {
        font-size: 13px;
        color: #0066C0;
        line-height: 20px;
        font-weight: normal;
        position: absolute;
        display: block;
        margin-top: 4px;
    }
    .show-col1 {
        min-width: 300px;
        padding-top: 150px;
        font-size: 13px;
        color: #555555;
        font-weight: lighter;
        float: left;
        .item-show-col1 {
            line-height: 25px;
        }
    }
    span {
        position: absolute;
        font-weight: bold;
        color: #111111;
        padding-left: 5px;
    }

    .line-break-about {
        background-color: transparent;
        border-top: 1px solid #e7e7e7;
        top: 400px;
        width: 250px;
    }
    #about {
        color: black;
        font-weight: bold;
        font-size: 16px;
        line-height: 74px;
    }
    #description {
        font-weight: normal;
        font-size: 13px;
        line-height: 19px;
        margin-top: -17px;
        max-width: 250px;
    }
}
.price {
    position: absolute;
    padding-top: 100px;
    color: #555555;
    font-size: 14px;
    z-index: 2;
    display: inline-block;
    .price-num {
        color: #B12704;
        font-size: 18px;
        font-weight: normal;
        text-align: center;
    }
    #mid-text {
        font-weight: lighter;
        position: absolute;
        display: inline-block;
        margin-top: 4px;
        width: 100px;
        padding-left: 7px;
    }
}

.free-ship {
    font-size: 13px;
    color: #111111;
    font-weight: lighter;
    display: block;
}

.item-show-cart-container {
    display: inline-block;
    min-width: 210px;
    max-height: 350px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    margin: 50px 0px 10px 0px;
    #side-cont {
        color: #B12704;
        font-size: 18px;
    }
    #cart-text {
        padding: 8px 0px;
        display: inline-block;
    }
    .in-stock {
        color: #007600;
        font-size: 17px;
        position: absolute;
        top: 280px;
        min-width: 100px;
    }
    .quantity-button {
        top: 320px;
        background: linear-gradient(to bottom,#e7eaf0,#d9dce1);
        border-radius: 3px;
        border-color: #ADB1B8 #A2A6AC #8D9096;
        border-style: solid;
        border-width: 1px;
        font-size: 11px;
        color: #111111;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        cursor: pointer;
        box-shadow: 0 1px 0 rgba(255,255,255,.6) inset;
        padding: 4px 6px;
        position: absolute;
    }
    .quantity-button:hover{
        border-color: #a2a6ac #979aa1 #82858a;
        background: #adb1b886;
    }
    .add-to-cart {
        border-radius: 3px;
        width: 206px;
        height: 30px;
        padding: 6px 7px;
        top: 375px;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size: 13px;
        color: #111111;
        position: absolute;
        background-image: linear-gradient(to bottom, rgba(240, 193, 75, 0.3), rgba(240, 193, 75, 1));
        border-color: #a88734 #9c7e31 #846a29;
        border-width: thin;
        cursor: pointer;
        box-shadow: 0 1px 0 rgba(255,255,255,.6) inset;
    }
    .add-to-cart:hover {
        background-image: linear-gradient(to bottom, rgba(248, 196, 66, 0.5), rgba(240, 193, 75, 1));
    }
    .add-to-cart:focus {
        border-color: #ff9900;
        box-shadow: 0px 0px 4px #ff9900;
        outline: 0;
    }

    .item-added {
        width: 154px;
        height: 37px;
        color: #007600;
        font-size: 17px;
        margin-top: -70px;
        margin-left: 19px;
        background-color: #fafafa;
        border: 1px solid #ccc;
        display: none;
        position: relative;
        justify-content: center;
        align-items: center;
    }

    .add-to-cart:focus .item-added {
        display: flex;
    }

    .check-mark {
        font-size: 20px;
        margin-right: 8px;
    }

    .cart-logo, .buy-now-logo {
        float: left;
        width: 24px;
        height: 24px;
        margin-top: -4px;
        margin-left: -5px;
    }

    .buy-now {
        border-radius: 3px;
        width: 206px;
        height: 30px;
        padding: 6px 7px;
        top: 417px;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size: 13px;
        color: #111111;
        position: absolute;
        background-image: linear-gradient(to bottom,rgb(246, 200, 143),rgb(237, 146, 32));
        border-color: #a88734 #9c7e31 #846a29;
        border-width: thin;
        cursor: pointer;
        box-shadow: 0 1px 0 rgba(255,255,255,.6) inset;
    }
    .buy-now:hover {
        background-image: linear-gradient(to bottom, rgba(214, 123, 12, 0.5), rgb(237, 146, 32));
    }
    .buy-now:focus {
        outline: none;
    }
}

.customer-reviews {
    position: relative;
    min-height: 300px; 
    background-color: white;
    bottom: 0;
    width: 100%;
    display: block;
    padding: 15px;
    margin-top: 35px;
    border-top: 1px solid #ddd;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.review-heading {
    font-size: 22px;
    font-family: inherit;
    font-weight: bold;
    color: #111111;
    display: block;
    position: absolute;
    margin-top: -3px;
}
.reviews-star-ratings {
    font-size: 17px;
    font-family: inherit;
    color: #111111;
    display: block;
    position: absolute;
    margin-top: 27px;
}
.total-ratings {
    font-size: 13px;
    color: #555555;
    font-family: inherit;
    position: absolute;
    margin-top: 55px;
}
.ratings-table {
    margin-top: 50px;
    span {
        font-family: inherit;
        font-size: 13px;
        color: #0066C0;
    }
}
.left-side {
    width: 330px;
}
.write-review {
    border-top: 1px solid #ddd;
    font-family: inherit;
    font-size: 17px;
    font-weight: bold;
    padding-top: 20px;
    margin-top: 78px;
    .review-subtext {
        font-family: inherit;
        font-size: 13px;
        color: #111111;
        position: absolute;
        display: block;
        font-weight: lighter;
        margin-top: 10px;
    }
    .write-review-button {
        border-radius: 3px;
        width: 300px;
        height: 32px;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size: 13px;
        color: #111111;
        margin-top: 96px;        
        background-image: linear-gradient(to bottom, rgba(220, 226, 226, 0.0), rgba(220, 226, 226, 1));
        border-color: #adb1b8 #a2a6ac #8d9096;
        border-width: thin;
        cursor: pointer;
        position: absolute;
        display: block;
        text-align: center;
    }
}
