.search-form-container {
    height: 40px;
    display: flex;
    min-width: 335px;
    justify-content: center;
    text-align: center;
    border-radius: 4px;
    margin: auto;
    box-sizing: border-box;
    margin-top: 9px;
}

.search-form-box-inner {
    height: 40px;
    width: 100%;
    position: relative;
    display: flex;
    border: none;
    background: none;
}
.search-form-box-inner:focus {
    outline: 3px solid red;
}

.search-input {
    height: 38px;
    border: none;
    min-width: 290px;
    border-radius: 4px 0px 0px 4px;
    font-size: 15.5px;
    padding-left: 8px;
}

.search-input:focus {
    outline: none;
}

.submit-search {
    width: 45px;
    height: 40px;
    display: inline-block;
    background: #febd69;
    border: none;
    border-radius: 0px 4px 4px 0px;
}
.submit-search:focus {
    outline: none;
}
.submit-search:hover {
    background: sandybrown;
    cursor: pointer;
}

.fas, .fa-search {
    color: #122;
    font-size: 21px;
}
