.left-nav-section {
    display: flex;
    justify-content: space-around;
}

.search-form-container {
    height: 40px;
    position: absolute;
    min-width: 335px;
    border-radius: 4px;
    margin: auto;
    box-sizing: border-box;
    margin-top: 9px;
    width: 53%;
    left: 160px;
}

.search-form-box-inner {
    height: 40px;
    position: relative;
    display: flex;
    border: none;
    background: none;
    width: auto;
}

.search-input {
    height: 38px;
    border: none;
    border-radius: 4px 0px 0px 4px;
    font-size: 15.5px;
    padding-left: 8px;
    flex: 2;
    width: 100%;
}

.search-input:focus {
    outline: none;
}

.submit-search {
    width: 45px;
    height: 40px;
    display: inline-block;
    background: #febd69;
    border: none;
    border-radius: 0px 4px 4px 0px;
}
.submit-search:focus {
    outline: none;
}
.submit-search:hover {
    background: sandybrown;
    cursor: pointer;
}

.fas, .fa-search {
    color: #122;
    font-size: 21px;
}
