.search-form-container {
    height: 40px;
    display: flex;
    min-width: 335px;
    justify-content: center;
    text-align: center;
    border: 1px solid gray;
    border-radius: 4px;
    margin: auto;
    box-sizing: border-box;
    margin-top: 9px;
}

// .search-form-box {
//     height: 40px;
//     width: 100%;
//     // border: none;
// }

.search-form-box-inner {
    height: 40px;
    width: 100%;
    position: relative;
    display: flex;
    border: none;
}

.search-input {
    height: 38px;
    border: none;
    min-width: 290px;
    border-radius: 4px 0px 0px 4px;
}

.submit-search {
    width: 45px;
    height: 40px;
    // position: absolute;
    display: inline-block;
    background: #febd69;
    border: none;
    border-radius: 0px 4px 4px 0px;
}

.fas .fa-search {
    color: #122;
    font-size: 50px;
    border: 1px solid red;
}
// .fas:focus .fa-search:focus {
//     color: #122;
//     z-index: 8;
//     outline: none;
//     border: none;
// }